{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Silque- Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='compra/style.css') }}">
    <!-- iconos-->
    <link rel="apple-touch-icon" href="assets/img/">
    <!-- css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.min.css') }}">
  </head>
  {% endblock head %}
  
  <body>
    {% block session %}{% endblock session %}
    {% block content %} {% endblock content %}
    
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/templatemo.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/carrito.js') }}"></script>
    <script src="{{ url_for('static', filename='compra/app.js') }}"></script>
  </body>
</html>
